/* GLOBAL */
a,
Link {
  text-decoration: none;
  font-weight: 700;
}
button {
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  border: 1px solid white;
  font-size: 18px;
  font-weight: 500;
}
/* NAVBAR */
.navbar-container {
  text-align: center;
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: white;
  padding: 20px;
  transition: 0.5s;
}
.hideNav {
  transition: 0.5s;
  margin-top: -100px;
}
.nav-link {
  /* margin-left:20%; */
}
.nav-link-image {
  height: 40px;
  width: 40px;
  /* margin-left:100%; */
}
.nav-link-image img {
  height: 100%;
  width: 100%;
}

/* CONTAINERS */
.App {
  /* text-align: center; */
}

/* HOME */
.home-container {
  text-align: center;
  padding-top: 8.2vh;
  height: 91.8vh;
  color: white;
  background-color: black;
}
.mavBox {
  overflow: hidden;
  height: 50vh;
  width: 100%;
}
.mrMaverick {
  background-image: url("/src/images/forever-home.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  margin-top: -5vh;
  transform: scale(1.5);
}
/* LOVE-NOTE */
.love-note-container {
  padding-top: 8vh;
  height: 92vh;
}
.love-note {
  background-image: url("https://media.istockphoto.com/photos/love-letter-picture-id121628677?k=20&m=121628677&s=170667a&w=0&h=sRo4CUOfGskDUVWMFv-zetTxWWo8z1AhuCqEcBrEte0=");
  background-size: cover;
  background-repeat: no-repeat;
  height: 94vh;
}
.message {
  color: rgb(54, 0, 64);
  font-size: 23px;
  font-weight: 900;
  letter-spacing: 2px;
  font-family: "Bradley Hand", cursive;
  border-radius: 50%;
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.05) 90%,
    rgba(255, 255, 255, 0) 100%
  );
  box-shadow: 0px 0px 500px rgba(255, 255, 255, 0.2);
  padding: 5%;
  padding-bottom: 80px;
  padding-top: 80px;
  margin-top: -20px;
}
/* HAPPY */
.happy-container {
  text-align: center;
  height: 100vh;
  background-image: url("/src/images/holding-zoey.jpeg");
  background-size: cover;
}
.happyHeader {
  font-size: 32px;
  font-weight: 700;
  padding-top: 110px;
  color: white;
}
/* HORNY */
.horny-container {
  text-align: center;
  padding-top: 8vh;
  height: 92vh;
  background-image: url("/src/images/post-passport-pic.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.horny-header {
  color: white;
  background-color: #27282682;
  padding: 5px;
  margin-top: 5vh;
}
.horny-adventures-button {
  margin-top: 62vh;
  background-color: white;
  color: black;
}
/* HOT */
.hot-container {
  text-align: center;
  padding-top: 8vh;
  height: 92vh;
  background-image: url("/src/images/reg-nuge-babyshower.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}
.hot-sidediv {
  height: 84vh;
  padding-top: 8vh;
  width: 30%;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgba(255, 255, 255, 0.57);
}
/* SGH */

.super-horny-girl-container {
  padding: 0;
  margin: 0;
  min-width: 100%;
  height: 500vh;
  /* overflow: scroll; */
}

/* COVER */

.super-horny-girl-bgImage1 {
  position: fixed;
  /* margin-top: 50px; */
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: url("/src/images/background/housebg.png");
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.8s;
}
.sghHeader {
  margin-top: 250px;
  background-color: rgba(245, 245, 245, 0.7);
  padding: 10px;
  text-align: center;
}
.familyFlexbox {
  /* position: fixed; */
}
.coverSghpic {
  position: fixed;
  margin-top: 75px;
  width: 60px;
  height: 60px;
}
.ggMav {
  position: fixed;
  margin-top: 35px;
  margin-left: 25px;
  background-color: white;
  border: 1px solid black;
  border-radius: 50%;
  padding: 15px;
  z-index: 10;
  max-height: 45px;
  transition: 1s;
}
.coverHPPpic {
  position: fixed;
  margin-top: 100px;
  margin-left: 60px;
  max-width: 120px;
  max-height: 120px;
}
.coverHPPpic-catch {
  position: fixed;
  margin-top: 60px;
  margin-left: 70px;
  max-width: 140px;
  max-height: 140px;
  transition: 0.5s;
}
.coverZozopic {
  position: fixed;
  margin-top: 60px;
  margin-left: 273px;
  max-width: 45px;
  max-height: 45px;
  opacity: 60%;
}
.zozoBark {
  position: fixed;
  margin-top: 35px;
  margin-left: 203px;
  background-color: white;
  border: 1px solid black;
  border-radius: 50%;
  padding: 15px;
  max-width: 45px;
  max-height: 45px;
  opacity: 70%;
  transition: 0.5s;
}
.coverBonorBoypic {
  position: fixed;
  margin-top: 100px;
  margin-left: 300px;
  max-width: 125px;
  max-height: 125px;
}
.coverBall {
  position: fixed;
  margin-top: 100px;
  margin-left: 300px;
  max-width: 30px;
  max-height: 30px;
  transition: 0.3s;
}
.coverBall-2 {
  position: fixed;
  margin-top: 90px;
  margin-left: 240px;
  max-width: 30px;
  max-height: 30px;
  transition: 0.3s;
}
.coverBall-3 {
  position: fixed;
  margin-top: 90px;
  margin-left: 180px;
  max-width: 30px;
  transition: 0.3s;
  max-height: 30px;
}
.coverBall-4 {
  position: fixed;
  margin-top: 140px;
  margin-left: 140px;
  max-width: 30px;
  max-height: 30px;
  transition: 0.3s;
}

/* ACT 1 */

.super-horny-girl-bgImage2 {
  position: fixed;
  /* margin-top: 50px; */
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: url("/src/images/background/woodsbg.png");
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.8s;
}
.act1CharBox {
  transition: 0.8s;
  position: fixed;
}
.act1Zozopic {
  position: fixed;
  margin-top: 150%;
  margin-left: 80%;
  max-width: 105px;
  max-height: 105px;
  transition: 0.8s;
}
.act1Zozopic-1 {
  position: fixed;
  margin-top: 80%;
  margin-left: 30%;
  max-width: 105px;
  max-height: 105px;
  transition: 0.8s;
}
.act1Zozopic-2 {
  position: fixed;
  margin-top: 35%;
  margin-left: 30%;
  max-width: 105px;
  max-height: 105px;
  transition: 0.8s;
}
.act1Zozopic-3 {
  position: fixed;
  margin-top: 35%;
  margin-left: 30%;
  max-width: 105px;
  max-height: 105px;
  transition: 0.8s;
}
.act1Zozopic-4 {
  position: fixed;
  margin-top: 55%;
  margin-left: 60%;
  max-width: 105px;
  max-height: 105px;
  transition: 0.8s;
}
.act1Zozopic-5 {
  position: fixed;
  margin-top: 55%;
  margin-left: 30%;
  max-width: 105px;
  max-height: 105px;
  transition: 0.8s;
}
.act1BonorBoypic {
  position: fixed;
  margin-top: 160%;
  margin-left: 85%;
  max-width: 105px;
  max-height: 105px;
  transition: 0.8s;
}
.act1BonorBoypic-1 {
  position: fixed;
  margin-top: 80%;
  margin-left: 75%;
  max-width: 105px;
  max-height: 105px;
  transition: 0.8s;
}
.act1BonorBoypic-2 {
  position: fixed;
  margin-top: 80%;
  margin-left: 65%;
  max-width: 105px;
  max-height: 105px;
  transition: 0.8s;
}
.act1BonorBoypic-3 {
  position: fixed;
  margin-top: 85%;
  margin-left: 65%;
  max-width: 105px;
  max-height: 105px;
  transition: 0.8s;
}
.act1BonorBoypic-4 {
  position: fixed;
  margin-top: 80%;
  margin-left: 65%;
  max-width: 105px;
  max-height: 105px;
  transition: 0.8s;
}
.act1BonorBoypic-5 {
  position: fixed;
  margin-top: 80%;
  margin-left: 65%;
  max-width: 105px;
  max-height: 105px;
  transition: 0.8s;
}
.act1ZoeyNo {
  position: fixed;
  margin-top: 85%;
  margin-left: 45%;
  padding: 15px;
  background-color: white;
  border: 1px solid black;
  border-radius: 50%;
  transition: 0.8s;
}
.act1ZoeyNo-hide {
  position: fixed;
  margin-top: 85%;
  margin-left: 45%;
  padding: 15px;
  background-color: white;
  border: 1px solid black;
  border-radius: 50%;
  transition: 0.8s;
  opacity: 0;
}
.act1ZoeyNo {
  position: fixed;
  margin-top: 85%;
  margin-left: 45%;
  padding: 15px;
  background-color: white;
  border: 1px solid black;
  border-radius: 50%;
  transition: 0.8s;
}
.act1ohStone-hide {
  position: fixed;
  margin-top: 85%;
  margin-left: 5%;
  padding: 25px;
  font-size: 24px;
  background-color: white;
  border: 1px solid black;
  border-radius: 50%;
  transition: 0.8s;
  opacity: 0;
}
.act1ohStone {
  position: fixed;
  margin-top: 75%;
  margin-left: 5%;
  font-size: 24px;
  padding: 25px;
  background-color: white;
  border: 1px solid black;
  border-radius: 50%;
  transition: 0.8s;
}
.act1Chickenpic {
  position: fixed;
  margin-top: 160%;
  margin-left: 85%;
  max-width: 105px;
  max-height: 105px;
  transition: 0.8s;
}
.act1Chickenpic-1 {
  position: fixed;
  margin-top: 40%;
  margin-left: 125%;
  max-width: 105px;
  max-height: 105px;
  transition: 0.8s;
}
.act1Chickenpic-2 {
  position: fixed;
  margin-top: 5%;
  margin-left: 30%;
  max-width: 105px;
  max-height: 105px;
  transition: 0.8s;
}
.act1Chickenpic-3 {
  position: fixed;
  margin-top: 0%;
  margin-left: -30%;
  max-width: 105px;
  max-height: 105px;
  opacity: 0;
  transition: 0.8s;
}
.act1Chickenpic-4 {
  position: fixed;
  margin-top: 05%;
  margin-left: 30%;
  max-width: 105px;
  max-height: 105px;
  transition: 0.8s;
}
.act1Chickenpic-5 {
  position: fixed;
  margin-top: 05%;
  margin-left: 30%;
  max-width: 105px;
  max-height: 105px;
  transition: 0.8s;
}
.act1Stonepic {
  position: fixed;
  margin-top: 20%;
  margin-left: -50px;
  max-width: 55px;
  max-height: 55px;
  transition: 0.8s;
}
.act1Stonepic-2 {
  position: fixed;
  margin-top: 35%;
  margin-left: 30%;
  max-width: 95px;
  max-height: 95px;
  transition: 0.8s;
}
.act1Stonepic-3 {
  position: fixed;
  margin-top: 35%;
  margin-left: 30%;
  max-width: 95px;
  max-height: 95px;
  transition: 0.8s;
}
.act1Stonepic-4 {
  position: fixed;
  margin-top: 40%;
  margin-left: 5%;
  max-width: 95px;
  max-height: 95px;
  transition: 0.8s;
}
.szCollision {
  position: fixed;
  margin-top: 15%;
  margin-left: 10%;
  transition: 0.8s;
}
.szCollision-hide {
  position: fixed;
  margin-top: 15%;
  margin-left: 10%;
  opacity: 0;
  transition: 0.8s;
}
/* ACT 2 */

.super-horny-girl-bgImage3 {
  position: fixed;
  /* margin-top: 50px; */
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: url("/src/images/background/barbg.png");
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.8s;
}

/* ACT 3 */

.super-horny-girl-bgImage4 {
  position: fixed;
  /* margin-top: 50px; */
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: url("/src/images/background/bedroombg.png");
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.8s;
}
.caption1 {
  text-align: center;
  margin-top: 1500px;
  z-index: 10;
  padding: 25px;
  width: 150px;
  background-color: white;
  border: 1px solid black;
  border-radius: 50%;
  margin-left: 50px;
}
.caption {
  text-align: center;
  margin-top: 1000px;
  z-index: 10;
  padding: 25px;
  width: 150px;
  background-color: white;
  border: 1px solid black;
  border-radius: 50%;
  margin-left: 50px;
}
.hide {
  /* transition: 0.8s; */
  opacity: 0;
  display: none;
}
