/* GLOBAL */
a,
Link {
  text-decoration: none;
  font-weight: 700;
}
button {
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  border: 1px solid white;
  font-size: 18px;
  font-weight: 500;
}
/* NAVBAR */
.navbar-container {
  text-align: center;
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: white;
  padding: 20px;
  transition: 0.5s;
}
.hideNav {
  transition: 0.5s;
  margin-top: -100px;
}
.nav-link {
  /* margin-left:20%; */
}
.nav-link-image {
  height: 40px;
  width: 40px;
  /* margin-left:100%; */
}
.nav-link-image img {
  height: 100%;
  width: 100%;
}

/* CONTAINERS */
.App {
  /* text-align: center; */
}

/* HOME */
.home-container {
  text-align: center;
  padding-top: 8.2vh;
  height: 91.8vh;
  color: white;
  background-color: black;
}
.mavBox {
  overflow: hidden;
  height: 50vh;
  width: 100%;
}
.mrMaverick {
  background-image: url("/src/images/forever-home.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  margin-top: -5vh;
  transform: scale(1.5);
}
/* LOVE-NOTE */
.love-note-container {
  padding-top: 8vh;
  height: 92vh;
}
.love-note {
  background-image: url("https://media.istockphoto.com/photos/love-letter-picture-id121628677?k=20&m=121628677&s=170667a&w=0&h=sRo4CUOfGskDUVWMFv-zetTxWWo8z1AhuCqEcBrEte0=");
  background-size: cover;
  background-repeat: no-repeat;
  height: 94vh;
}
.message {
  color: rgb(54, 0, 64);
  font-size: 23px;
  font-weight: 900;
  letter-spacing: 2px;
  font-family: "Bradley Hand", cursive;
  border-radius: 50%;
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.05) 90%,
    rgba(255, 255, 255, 0) 100%
  );
  box-shadow: 0px 0px 500px rgba(255, 255, 255, 0.2);
  padding: 5%;
  padding-bottom: 80px;
  padding-top: 80px;
  margin-top: -20px;
}
/* HAPPY */
.happy-container {
  text-align: center;
  height: 100vh;
  background-image: url("/src/images/holding-zoey.jpeg");
  background-size: cover;
}
.happyHeader {
  font-size: 32px;
  font-weight: 700;
  padding-top: 110px;
  color: white;
}
/* HORNY */
.horny-container {
  text-align: center;
  padding-top: 8vh;
  height: 92vh;
  background-image: url("/src/images/post-passport-pic.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.horny-header {
  color: white;
  background-color: #27282682;
  padding: 5px;
  margin-top: 5vh;
}
.horny-adventures-button {
  margin-top: 62vh;
  background-color: white;
  color: black;
}
/* HOT */
.hot-container {
  text-align: center;
  padding-top: 8vh;
  height: 92vh;
  background-image: url("/src/images/reg-nuge-babyshower.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}
.hot-sidediv {
  height: 84vh;
  padding-top: 8vh;
  width: 30%;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgba(255, 255, 255, 0.57);
}
/* SUPER-HORNY-GIRL */

/* .super-horny-girl-bgImage2 {
  position: fixed;
  margin-top: -100px;
  width: 100%;
  height: 100%;
  background-image: url("https://static.vecteezy.com/system/resources/previews/006/607/685/original/bar-counter-interior-design-cartoon-illustration-vector.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.3s;
} */
.sghHeader {
  margin-top: 250px;
  background-color: rgba(245, 245, 245, 0.7);
  padding: 10px;
  text-align: center;
}
/* .familyFlexbox {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 350px;
  position: fixed;
} */
.coverSghpic {
  position: fixed;
  margin-top: 75px;
  width: 60px;
  height: 60px;
}
.coverHPPpic {
  position: fixed;
  margin-top: 100px;
  margin-left: 60px;
  max-width: 120px;
  max-height: 120px;
}
.coverZozopic {
  position: fixed;
  margin-top: 65px;
  margin-left: 273px;
  max-width: 45px;
  max-height: 45px;
  opacity: 60%;
}
.coverBonorBoypic {
  position: fixed;
  margin-top: 100px;
  margin-left: 300px;
  max-width: 125px;
  max-height: 125px;
}
.super-horny-girl-container {
  /* position: relative; */
  /* padding-top: 100px; */
  padding: 0;
  margin: 0;
  min-width: 100%;
  height: 1000vh;
  overflow: scroll;
}
.super-horny-girl-bgImage1 {
  position: fixed;
  /* margin-top: 50px; */
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: url("/src/images/background/housebg.png");
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.8s;
}
.super-horny-girl-bgImage2 {
  position: fixed;
  /* margin-top: 50px; */
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: url("/src/images/background/woodsbg.png");
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.8s;
}
.super-horny-girl-bgImage3 {
  position: fixed;
  /* margin-top: 50px; */
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: url("/src/images/background/barbg.png");
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.8s;
}
.caption {
  margin-top: 800px;
  z-index: 10;
  padding: 25px;
  width: 150px;
  background-color: white;
  border: 1px solid black;
  border-radius: 50%;
  margin-left: 50px;
}
.hide {
  display: none;
}
